<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="shoes" routerLinkActive="active" class="nav-link" >Shoe List</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-shoe" routerLinkActive="active" class="nav-link" >Create Shoe</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">
  {{title}}
</h1>
<div class="container">
 <router-outlet>
 </router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span> Joel L </span>
  </div>
</footer>
